

/*
 * New Components (02.2022)
 */

 @import 'common';



/*
 * New CARDS (02.2022)
 */


// COMPONENTS CARD EVENTS

.c-card {
    position: relative;

    .meta {
        margin-top: 0;
    }
    .ratio_inner,
    .c-card-media {
        overflow: hidden;
    }
    img {
        transition: transform .2s;
    }

    p {
        margin-bottom: 0;
    }

	.c-link:before {
		content: '';
		display: block;
		position: absolute;
		top: -20px;
		left: -20px;
		right: -20px;
		height: 50%;
		z-index: 0;
		transition: all 0.5s ease;
		opacity: 0;
        background: linear-gradient(to left, transparent 50%, $color_primary 50%);
        background-size: 200% 100%;
        background-position: right 0px bottom;
	}

    .c-link:hover {

		cursor: pointer;

		&:before {
			background-position:left bottom;
			opacity: 1;
		}

		.meta:before {
			background: white;
		}
	}

    .c-link:hover {
        img {
            transform: scale(1.05);
        }
    }

}



    
.c-card-1 {
    @extend .c-card;

    .c-card-meta {
        @extend %mb-1;
    }
    .c-card-media {
        @extend %mb-2;
    }
    .c-card-title {
        height: calc( 1.2em * 4);
        position: relative;
    }
    .c-card-copy {
        height: calc( 1.6em * 3 + 25px);
    }
    .c-card-footer {
        border-top: 1px solid #F0ECEC;
        padding-top: 15px;

        .bg--gray & {
            border-color: #DCDCDC;
        }
    }
    .c-card-action {
        margin-top: 5px;
    }

    .c-card-dates p,
    .c-card-dates .ft_h5,
    .ft_h5_g {

        @include up-to(medium) {
            font-size: 1.7rem;
        }

    }

}




// Card for slider Big Button
.c-card-1--empty {
    @extend .c-card-1;
    
    &:before {
        content: none;
    }
}



// Card for Artiste ID (in slider)
.c-card-2 {

    .c-card-intro {
        @extend %mb-4;
    }
    .c-card-title {
        @extend %mb-2;
        h2 {
            margin-bottom: 0;
        }
    }

    .c-card-media {
        @extend %mb-4;

        @include up-to(medium) {
            margin: auto;
        }
        max-width: 300px;
    } 
    .artist_portrait_outer {
        width: auto;
    }
}



// Card in Edition Slider
.c-card-3 {

    .c-card-media {
        position: relative;
        @extend %mb-2;
    }
    img {
        transition: transform .2s;
        transform: scale(.95) translateY(2.5%) translateX(-2.5%);
        box-shadow: 0 0 10px $gray_medium;
    }
    .c-card-meta {
        @extend %mb-1;
    }
    .c-card-title {
        @extend %mb-2;
    }
    .c-card-copy  {
        @extend %mb-3;
    }
    .c-card-action {
        border-top: 1px solid #F0ECEC;
        padding-top: 15px;

        .bg--gray & {
            border-color: $gray_medium;
        }
    }
    .c-card-link:hover {
        img {
            transform: scale(1);
        }
    }
}




// Card in mod mosaic
.c-card-4 {
    
}




// Card for bloc visites list
.c-card-5 {
    @extend %mb-8;

    .c-card-media {
        @extend %mb-3;
        overflow: hidden;
    }
    img {
        transition: transform .2s;
    }
    .c-card-title {
        @extend %mb-1;
    }
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}




// Card for bloc visites
.c-card-6 {
    @extend %mb-9;

    & > .row {
        @include at-least(medium) {
            display: flex;
        }
    }
    .c-card-media  {
        @include up-to(medium) {
            margin-bottom: 40px;
        }
    }
    .c-card-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .c-card-title {
        @extend %mb-6;
    }
    .c-card-group {
        @extend %mb-3;
        border-top: 1px solid #F0ECEC;
        padding-top: 15px;

        & > .text-on-right {
            padding-left: 15px;
        }
    }
    .c-card-icon {
        justify-self: flex-end;
    }
    .c-card-action {
        margin-top: 25px;
    }
    p {
        margin-bottom: 0;
    }
}



// Card for equipe slider

.c-card-7 {
    .c-card-media {
        max-width: 200px;
        @extend %mb-4;
    }
    .c-card-title {
        @extend %mb-1;
    }
}



// Card for atelier slider

.c-card-8 {
    .c-card-media {
        @extend %mb-3;
    }
    .c-card-title {
        @extend %mb-1;
    }
    p {
        margin-bottom: 0;
    }
    .ft_p1_g {
        font-size: 1.5rem;
    }
}



// Pour manifestations

.c-event-id {
    .c-card-meta {
        @extend %mb-2;
    }
    .c-card-title {
        @extend %mb-7;
    }
    .c-card-openings {
        border-top: 1px solid $gray_light;
        padding-top: 15px;
        margin-top: 15px;
    }
    p {
        margin: 0;
    }
    .c-card-dates {
        p {
            margin-bottom: 5px;
        
            @include up-to(medium) {
                margin-bottom: 10px;
            }
        }
    }
    .c-card-action {
        align-items: center;
        padding-top: 15px;
        margin-top: 15px;
        border-top: 1px solid $gray_light;
    }
    .c-card-public {
        @include up-to(medium) {
            .ft_h5_g {
                font-size: 1.9rem;
            }
        }
    }
}


.c-event-cover {
    @extend %mb-7;
}



// Grille des éditions

.c-grid-editions {
    @include up-to(medium) {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
	}

	.grid-sizer {
		@include up-to(medium) {
			display: none;
			width: 0px;
		}
		width: 5%;
	}
}




// Cards for edition templates
.c-card-edition{
    position: relative;
	padding-bottom: 5px;
	padding-top: 5px;
    margin-bottom: 55px;
    padding-right: 40px;

    .c-action {
        border-top: 1px solid $gray_light;
        padding-top: 10px;
        margin-top: 15px;
    }
	.c-media {
		margin-bottom: 10px;
	}

	img {
		box-shadow: 0px 0px 12px $gray_medium;
        transform: scale(.95) translateY(2.5%) translateX(-2.5%);
        transition: transform .2s;
    }

	@include up-to(medium) {
		margin: 0 2%;
		margin-bottom: 25px;
		flex: 1 45%;
		max-width: 46%;
		padding: 10px;
	}
    &:hover {
        img {
            transform: scale(1);
        }
    }

}



.c-card-artwork {
    .c-card-media {
        overflow: hidden;
        @extend %mb-2;
    }
    img {
        transition: transform .2s;
    }
    &:hover {
        img {
            transform: scale(1.05);
        }
    }
}


/*
 * NAVIGATION PAGES (02.2022)
 */

.c-navItem {
    display: flex;

    p {
        margin-bottom: 0;
    }
    .ft_h2 {
        @include up-to(medium) {
            font-size: 2.4rem;
        }
    }
}




/*
 * TRUNCATED LINES (02.2022)
 */

.truncated-line {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.truncated-line--2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
}
.truncated-line--6 {
    @extend .truncated-line;
    -webkit-line-clamp: 6;
}




/*
 * COMPONENT OPENINGS HOURS (02.2022)
 */

.c-opening {
    @extend %mb-8;

    @include at-least(medium) {
        max-width: 400px;
    }
    p {
        margin-bottom: 5px;
    }

    .c-opening-title {
        @extend %mb-4;
    }
}
.c-opening--passed {
    @extend .c-opening;
    color: $gray_dark;
}
.c-opening--bordered {
    @extend .c-opening;
    margin-bottom: 30px;

    @include at-least(medium) {
        width: 80%;
    }

    p:not(:last-child) {
        border-bottom: 1px solid $gray_light;
        padding-bottom: 10px;
    }
}

.c-opening-group {
    @extend %mb-6;

    & + & {
        border-top: 1px solid $gray_light;
        padding-top: 40px;
    }
}
.c-opening-action {
    margin-top: -15px;
}


.c-tarifs {
    @extend .c-opening--bordered;
    width: 100%;
    max-width: none;
}


/*
 * EVENTS COPY (02.2022)
 */

.c-copy {
    max-width: 850px;

    h3 {
        @extend .ft_h3;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    p {
        @extend .ft_p1;
        @extend %mb-3;
    }

}

.c-more {
    padding-top: 20px;
    display: flex;
    justify-content: center;

    button {
        border: none;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;

        &.reversed {
            .icon-down {
                transform: rotate(180deg);
            }
        }
    }
}
    .c-more-label {
        padding-bottom: 5px;
    }



// POUR EXPOSITIONS

.c-event-dates {

}
    .c-event-label {
        @extend %mb-1;
    }

.c-expo-titles {
    @include up-to(medium) {
        margin-bottom: 20px;
        border-bottom: 1px solid $gray_light;
        padding-bottom: 20px;
    }
}
    .c-expo-maintitle {
        @extend %mb-2;
    }

