

/*
 * Utils
 */

.c-sticky {
	@include at-least(large) {
		position: sticky !important;
		top: 140px;
	}
}



.c-chapo {
	@extend %mb-7;
}

/*
 * Components for Informations pratiques
 */

.c-practicalmap {
	margin-bottom: 45px;

	img, iframe {
		width: 100%;
	}
}

.c-adress {
	margin-bottom: 45px;
	& > h3,
	& > p {
		margin-bottom: 5px;
	}
}
.c-howtocome {
	margin-bottom: 30px;

	.c-title {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 5px;
	}
}

.c-itineraries {
	align-items: center;
	margin-bottom: 45px;

	& > * {
		margin-right: 10px;
		margin-bottom: 0 !important;
	}
}




/*
 * Components commons cards
 */

.c-personas {

}
	.c-personas-title {
		@extend %mb-7;
	}

.c-card-persona {
    @extend %mb-6;

	.c-card-title {
        @extend %mb-1;
	}
    p, h4 {
        @extend %mb-1;
    }
}


%coloredcard {

    a {
		padding: 0 20px;
		display: flex;
	}

    p {
        margin-bottom: 0;
    }

	[class *= "icon-lien_interne"] {
		font-size: 2.6rem;
		padding: 0 10px;
	}
}

.c-card-file {
    @extend %coloredcard;

	a {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
		background-color: $gray_light;
		height: 100%;
	}
	[class *= "icon-lien_interne"] {
		transform: rotate(-30deg);
		display: inline-block;
	}
}



.c-card-greencard {
    @extend %coloredcard;

	a {
		background-color: #83F8DD;
		align-items: center;
		height: 100%;
	}
}



.c-edition-feuilleter {
	.c-media {
		background-color: $gray_light;
		margin-bottom: 20px;
	}
	.c-inner {
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	img {
		margin: auto;
		max-width: 100%;
		max-height: 100%;
		width: auto;
		box-shadow: 0px 0px 12px #7b7b7b;
	}
}


.c-section-title {
	h2 {
		@extend %mb-6;
	}
}