

/*
 * Utils
 */

.c-sticky {
	@include at-least(large) {
		position: sticky !important;
		top: 200px;
	}
}



/*
 * Components for Informations pratiques
 */

.c-practicalmap {
	margin-bottom: 45px;
}

.c-adress {
	margin-bottom: 45px;
	& > h3,
	& > p {
		margin-bottom: 5px;
	}
}
.c-howtocome {
	margin-bottom: 30px;

	.c-title {
		margin-bottom: 5px;
	}
	p {
		margin-bottom: 5px;
	}
}

.c-itineraries {
	align-items: center;
	margin-bottom: 45px;

	& > * {
		margin-right: 10px;
		margin-bottom: 0 !important;
	}
}




/*
 * Components commons cards
 */

.c-card-persona {
    @extend %mb-6;

	.c-card-title {
        margin-bottom: 5px;
	}
    p, h4 {
        margin-bottom: 5px;
    }
}


%coloredcard {

    a {
		padding: 0 20px;
		display: flex;
	}

    p {
        margin-bottom: 0;
    }

	[class *= "icon-lien_interne"] {
		font-size: 2.6rem;
		padding: 0 10px;
	}
}

.c-card-file {
    @extend %coloredcard;

	a {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
		background-color: $gray_light;
	}
	[class *= "icon-lien_interne"] {
		transform: rotate(-30deg);
		display: inline-block;
	}
}



.c-card-greencard {
    @extend %coloredcard;

	a {
		background-color: #83F8DD;
		align-items: center;
	}
}