


.agenda_meta_filters {

	@include transition(all 0.3s);
	
	.fc_11 {
		line-height: 25px;
	}
	a {
		display: block;
		position: relative;
		margin-bottom: 5px;

		&:before {
			@include transition(all 0.3s);
			content: '';
			position: absolute;
			width: 25px;
			height: 25px;
			z-index: -1;
			left: 0;
		}

		&.card-all:before {
			background-color: #f0f0f0;
		}
		&.card-atelier:before {
			background-color: $color_primary;
		}
		&.card-visite:before {
			background-color: $color_primary;
		}
		&.card-performance:before {
			background-color: $color_primary;
		}
		&.card-concert:before {
			background-color: $color_primary;
		}
		&.card-rencontre:before {
			background-color: $color_primary;
		}
		&.card-projection:before {
			background-color: $color_primary;
		}
		&.card-expo:before {
			background-color: $color_primary;
		}
		&.card-visite-guidee:before {
			background-color: $color_primary;
		}
		&.card-conversation:before {
			background-color: $color_primary;
		}
		&.card-dance:before {
			background-color: $color_primary;
		}
		&.card-music:before {
			background-color: $color_primary;
		}
		&.card-warmup:before {
			background-color: $color_primary;
		}
		&.card-special:before {
			background-color: $color_primary;
		}

		&:hover {
			font-weight: $bold;
			padding-left: 8px;
		}
	}

	



}

.agenda_date_filters {
	
}

		.shadow:after {

			@include up-to(medium) {
			content: "";
			position: absolute;
			box-shadow: inset 0px -30px 30px -30px #000;
			left: -40px;
			right: -40px;
			bottom: 0;
			height: 45px;
			z-index: 99;
			}

		}	

.agenda_trigger {

	@include up-to(medium) {
		margin-left: -6%;
		padding-left: 5%;
		padding-right: 5%;
		width: 112%;
		height: 50vh;
		overflow: hidden;
		padding-top: $base_line_height * 5;

		&.open {
			height: auto;
			z-index: 0;
		}
		.inner {
				padding-left: 0;
				padding-right: 0;
		}
		.card--shop .inner {
			padding: 34px;
		}
		h2 {
			padding-bottom: 20px;
			font-size: 60px;
			font-size: 6rem;
			display: flex !important;
			flex-direction: row;
			align-items: center;
			padding-right: 35px;
			margin-bottom: 0;

			span {
				display: flex;
				align-items: center;
				position: absolute;
				right: 5px;
				top: 35%;
			}
		}
		.text-on-right {
			text-align: left;
		}
	}

}

	.agenda_today {
		@include up-to(medium) {
			padding-top: 20px;

			h2 {
				font-size: 6rem;
				//border-bottom: 1px solid $gray;
				//padding-bottom: $base_line_height / 1.5;
				display: flex;
				flex-direction: row;
				align-items: center;
				text-align: left !important;
				padding-right: 35px;

				span {
					display: flex;
					align-items: center;
					position: absolute;
					right: 0;
					top: 35%;
				}
			}
		}

		.card {
			&:after {
				content: "";
				width: 86%;
				height: 1px;
				display: block;
				margin: auto;
				border-bottom: 1px solid $gray_medium;
				content: "";
			}
		}
	}

	.js-trigger,
	.js-trigger-height {
		@include transition(all 0.2s);

		z-index: 99;
		position: relative;

		.no-touch &:hover {
			cursor: pointer;
		}

		@include up-to(medium) {

			.inner {

			}
		}
	}



	.agenda_date {
		@include up-to(medium) {
			z-index: 9999;
			background-color: $white;
			background-color: rgba(255,255,255,0.95);
			width: 102%;
			padding-bottom: 0 !important;
			text-align: left !important;
		}
	}

	#more_agenda,
	.btn-all {
		margin-top: $base_line_height;
	}
	

	.next_mainEvent_id {
		@include up-to(medium) {
			padding-top: 0 !important;
		}
	}
		.next_mainEvent_id__date {
			margin-top: $base_line_height;
			margin-bottom: $base_line_height;

			@include up-to(medium) {
				margin-top: 0;
				margin-bottom: $base_line_height !important;
			}

		}


.agenda_exposition ~ .agenda_exposition {

	.card-exposition--plain:before {
		top: 0 !important;
	}
}


/*
 * Archives
 */

.wrap_archive_exposition {

	h2 {

	}
	.grid-sizer {
		width: 25%;

		@include up-to(medium) {
			width: 100%;
		}
	}
	.archive_item {

		@include up-to(medium) {
			width: 100%;
		}

		&:last-child {
			margin-bottom: $base_line_height * 3;
		}

		a {
			display: block;
			z-index: 99;
			padding: 1.4em 0.7em;
			position: relative;

			&.archive_link {
				background-color: #f0ecec;

				&:hover {
					cursor: default;
				}
				span {
					color: #999;
				}
			}

			&:before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				right: -1px;
				height: 50%;
			  z-index: -3;
		    transition: all 0.5s ease;
				/* Old browsers */
			  background: linear-gradient(to left, transparent 50%, $white 50%);
			  background-size: 220% 110%;
			  background-position: right -5px bottom;
			}

			.no-touch &:not(.archive_link):hover {
				cursor: pointer;

				&:before {
		    	background-position:left bottom;
				}
			}

		}


		&:nth-child(4n + 1) {
			clear: both;
		}

		.meta-exposition {
			margin-top: 0;
			margin-bottom: 26px;
		}

		&:not(.expo_majeur) a {
			background-color: #eeeeee;

			.item_title {
				font-size: 3.4rem;
				line-height: 1.2;
				font-weight: $bold;
				letter-spacing: - .05em;
				margin-bottom: 20px; 
			}

			.item_artiste {
				font-size: 1.8rem;
				line-height: 1.4;
			}

		}

		&.expo_majeur a {
			background-color: $color_primary;

			.meta-exposition::before {
				background-color: $gray_light;
			}
			.item_title {
				font-size: 4.8rem;
				line-height: 1;
				font-weight: $bold;
				letter-spacing: - .05em;
				margin-bottom: 15px; 
			}

			.item_artiste {
				font-size: 2.2rem;
				line-height: 1.4;
				letter-spacing: - .05em;
			}

		}

	}
}

.wrap_archive_artiste {

	.artistes_list {
	  -moz-column-count: 4;
	  -webkit-column-count: 4;
	  column-count: 4;
 	}
	.artist_item {

		* {
			font-weight: 400 !important;
		}

		&:nth-child(4n + 1) {
			clear: both;
		}
	}

	@include up-to(medium) {
		.artistes_list {
		  -moz-column-count: 1;
		  -webkit-column-count: 1;
		  column-count: 1;
	 	}
 	}
}

.agenda_groupe_expos {

}

.expo_2 {

		.js-trigger-height {
			display: none;
		}
}



