* {
    box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.ratio {
  position: relative;
  width: 100%;
}

.ratio:after {
  content: "";
  display: block;
  padding-bottom: 66%;
}
.ratio_inner {
  position: absolute;
  width: 100%;
  height: 100%;
}
.ratio img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wrap {
    width: 95%;
    max-width: 1400px;
    margin: auto;
}

img {
    display: block;
    max-width: 100%;
}

section {
  margin-bottom: 200px;
}

@media screen and (max-width: 700px) {
  .slide_wrapper {
    position: relative;
  }
}


.slide_large {
    position: relative;
}

.section_content:before {
    content: '';
    position: absolute;
    background-color: white;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: -5000px;
    width: 5000px;
}

.all {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #83F8DD;

}

.section_title {
    position: relative;
    z-index: 9999;
}

.tns-nav,
.tns-controls {
    position: absolute;
    bottom: -30px;
}
.tns-controls {
  right: 0;
}
.tns-nav {
  background-color: #F0ECEC;
  display: flex;
  justify-content: space-between;
  min-width: 500px;
}
.tns-nav button {
  width: auto;
  height: 3px;
  border: none;
  background: none;
  flex: 1;
}
button.tns-nav-active {
  background-color: black;
}

.tns-ovh {
    overflow: visible !important;
}

/* 
 * DON'T TOUCHE THIS !
 */
 .row {
    clear: both; }
    .row:before, .row:after {
      content: " ";
      display: table; }
    .row:after {
      display: block;
      clear: both;
      margin-top: -1px;
      visibility: hidden; }
    .row {
      *zoom: 1; }
    .row .is-centered {
      margin-left: auto !important;
      margin-right: auto !important;
      float: none !important; }
    .row.fixe-it {
      position: fixed; }




/* 
 * GRID GENERATOR
 */
@media (min-width: 320px) {
    .row .s-1col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 8.33333%;
      float: left;
      position: relative; }
      .row .s-1col .row .s-1col {
        width: 100%; }
      .row .s-1col .row .s-0col {
        width: 0%; }
    .row .s-1col-push {
      left: 8.33333%;
      position: relative;
      right: auto; }
    .row .s-1col-pull {
      right: 8.33333%;
      position: relative;
      left: auto; }
    .row .s-2col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 16.66667%;
      float: left;
      position: relative; }
      .row .s-2col .row .s-1col {
        width: 50%; }
    .row .s-2col-push {
      left: 16.66667%;
      position: relative;
      right: auto; }
    .row .s-2col-pull {
      right: 16.66667%;
      position: relative;
      left: auto; }
    .row .s-3col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 25%;
      float: left;
      position: relative; }
      .row .s-3col .row .s-1col {
        width: 33.33333%; }
      .row .s-3col .row .s-2col {
        width: 66.66667%; }
    .row .s-3col-push {
      left: 25%;
      position: relative;
      right: auto; }
    .row .s-3col-pull {
      right: 25%;
      position: relative;
      left: auto; }
    .row .s-4col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 33.33333%;
      float: left;
      position: relative; }
      .row .s-4col .row .s-1col {
        width: 25%; }
      .row .s-4col .row .s-2col {
        width: 50%; }
      .row .s-4col .row .s-3col {
        width: 75%; }
    .row .s-4col-push {
      left: 33.33333%;
      position: relative;
      right: auto; }
    .row .s-4col-pull {
      right: 33.33333%;
      position: relative;
      left: auto; }
    .row .s-5col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 41.66667%;
      float: left;
      position: relative; }
      .row .s-5col .row .s-1col {
        width: 20%; }
      .row .s-5col .row .s-2col {
        width: 40%; }
      .row .s-5col .row .s-3col {
        width: 60%; }
      .row .s-5col .row .s-4col {
        width: 80%; }
    .row .s-5col-push {
      left: 41.66667%;
      position: relative;
      right: auto; }
    .row .s-5col-pull {
      right: 41.66667%;
      position: relative;
      left: auto; }
    .row .s-6col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 50%;
      float: left;
      position: relative; }
      .row .s-6col .row .s-1col {
        width: 16.66667%; }
      .row .s-6col .row .s-2col {
        width: 33.33333%; }
      .row .s-6col .row .s-3col {
        width: 50%; }
      .row .s-6col .row .s-4col {
        width: 66.66667%; }
      .row .s-6col .row .s-5col {
        width: 83.33333%; }
    .row .s-6col-push {
      left: 50%;
      position: relative;
      right: auto; }
    .row .s-6col-pull {
      right: 50%;
      position: relative;
      left: auto; }
    .row .s-7col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 58.33333%;
      float: left;
      position: relative; }
      .row .s-7col .row .s-1col {
        width: 14.28571%; }
      .row .s-7col .row .s-2col {
        width: 28.57143%; }
      .row .s-7col .row .s-3col {
        width: 42.85714%; }
      .row .s-7col .row .s-4col {
        width: 57.14286%; }
      .row .s-7col .row .s-5col {
        width: 71.42857%; }
      .row .s-7col .row .s-6col {
        width: 85.71429%; }
    .row .s-7col-push {
      left: 58.33333%;
      position: relative;
      right: auto; }
    .row .s-7col-pull {
      right: 58.33333%;
      position: relative;
      left: auto; }
    .row .s-8col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 66.66667%;
      float: left;
      position: relative; }
      .row .s-8col .row .s-1col {
        width: 12.5%; }
      .row .s-8col .row .s-2col {
        width: 25%; }
      .row .s-8col .row .s-3col {
        width: 37.5%; }
      .row .s-8col .row .s-4col {
        width: 50%; }
      .row .s-8col .row .s-5col {
        width: 62.5%; }
      .row .s-8col .row .s-6col {
        width: 75%; }
      .row .s-8col .row .s-7col {
        width: 87.5%; }
    .row .s-8col-push {
      left: 66.66667%;
      position: relative;
      right: auto; }
    .row .s-8col-pull {
      right: 66.66667%;
      position: relative;
      left: auto; }
    .row .s-9col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 75%;
      float: left;
      position: relative; }
      .row .s-9col .row .s-1col {
        width: 11.11111%; }
      .row .s-9col .row .s-2col {
        width: 22.22222%; }
      .row .s-9col .row .s-3col {
        width: 33.33333%; }
      .row .s-9col .row .s-4col {
        width: 44.44444%; }
      .row .s-9col .row .s-5col {
        width: 55.55556%; }
      .row .s-9col .row .s-6col {
        width: 66.66667%; }
      .row .s-9col .row .s-7col {
        width: 77.77778%; }
      .row .s-9col .row .s-8col {
        width: 88.88889%; }
    .row .s-9col-push {
      left: 75%;
      position: relative;
      right: auto; }
    .row .s-9col-pull {
      right: 75%;
      position: relative;
      left: auto; }
    .row .s-10col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 83.33333%;
      float: left;
      position: relative; }
      .row .s-10col .row .s-1col {
        width: 10%; }
      .row .s-10col .row .s-2col {
        width: 20%; }
      .row .s-10col .row .s-3col {
        width: 30%; }
      .row .s-10col .row .s-4col {
        width: 40%; }
      .row .s-10col .row .s-5col {
        width: 50%; }
      .row .s-10col .row .s-6col {
        width: 60%; }
      .row .s-10col .row .s-7col {
        width: 70%; }
      .row .s-10col .row .s-8col {
        width: 80%; }
      .row .s-10col .row .s-9col {
        width: 90%; }
    .row .s-10col-push {
      left: 83.33333%;
      position: relative;
      right: auto; }
    .row .s-10col-pull {
      right: 83.33333%;
      position: relative;
      left: auto; }
    .row .s-11col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 91.66667%;
      float: left;
      position: relative; }
      .row .s-11col .row .s-1col {
        width: 9.09091%; }
      .row .s-11col .row .s-2col {
        width: 18.18182%; }
      .row .s-11col .row .s-3col {
        width: 27.27273%; }
      .row .s-11col .row .s-4col {
        width: 36.36364%; }
      .row .s-11col .row .s-5col {
        width: 45.45455%; }
      .row .s-11col .row .s-6col {
        width: 54.54545%; }
      .row .s-11col .row .s-7col {
        width: 63.63636%; }
      .row .s-11col .row .s-8col {
        width: 72.72727%; }
      .row .s-11col .row .s-9col {
        width: 81.81818%; }
      .row .s-11col .row .s-10col {
        width: 90.90909%; }
    .row .s-11col-push {
      left: 91.66667%;
      position: relative;
      right: auto; }
    .row .s-11col-pull {
      right: 91.66667%;
      position: relative;
      left: auto; }
    .row .s-12col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      float: left;
      position: relative; }
      .row .s-12col .row .s-1col {
        width: 8.33333%; }
      .row .s-12col .row .s-2col {
        width: 16.66667%; }
      .row .s-12col .row .s-3col {
        width: 25%; }
      .row .s-12col .row .s-4col {
        width: 33.33333%; }
      .row .s-12col .row .s-5col {
        width: 41.66667%; }
      .row .s-12col .row .s-6col {
        width: 50%; }
      .row .s-12col .row .s-7col {
        width: 58.33333%; }
      .row .s-12col .row .s-8col {
        width: 66.66667%; }
      .row .s-12col .row .s-9col {
        width: 75%; }
      .row .s-12col .row .s-10col {
        width: 83.33333%; }
      .row .s-12col .row .s-11col {
        width: 91.66667%; }
    .row .s-12col-push {
      left: 100%;
      position: relative;
      right: auto; }
    .row .s-12col-pull {
      right: 100%;
      position: relative;
      left: auto; }
    .row .s-clearfix {
      margin-left: 0 !important;
      clear: both; }
    .row .s-hide {
      display: none; }
    .row .s-show {
      display: block; }
    .row .s-first {
      margin-left: 0 !important; }
    .row .s-last {
      float: right !important; } }
  @media (min-width: 880px) {
    .row .m-1col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 8.33333%;
      float: left;
      position: relative; }
      .row .m-1col .row .m-1col {
        width: 100%; }
      .row .m-1col .row .m-0col {
        width: 0%; }
    .row .m-1col-push {
      left: 8.33333%;
      position: relative;
      right: auto; }
    .row .m-1col-pull {
      right: 8.33333%;
      position: relative;
      left: auto; }
    .row .m-2col,
    .row .results_item {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 16.66667%;
      float: left;
      position: relative; }
      .row .m-2col .row .m-1col,
      .row .results_item .row .m-1col {
        width: 50%; }
    .row .m-2col-push {
      left: 16.66667%;
      position: relative;
      right: auto; }
    .row .m-2col-pull {
      right: 16.66667%;
      position: relative;
      left: auto; }
    .row .m-3col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 25%;
      float: left;
      position: relative; }
      .row .m-3col .row .m-1col {
        width: 33.33333%; }
      .row .m-3col .row .m-2col,
      .row .m-3col .row .results_item {
        width: 66.66667%; }
    .row .m-3col-push {
      left: 25%;
      position: relative;
      right: auto; }
    .row .m-3col-pull {
      right: 25%;
      position: relative;
      left: auto; }
    .row .m-4col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 33.33333%;
      float: left;
      position: relative; }
      .row .m-4col .row .m-1col {
        width: 25%; }
      .row .m-4col .row .m-2col,
      .row .m-4col .row .results_item {
        width: 50%; }
      .row .m-4col .row .m-3col {
        width: 75%; }
    .row .m-4col-push {
      left: 33.33333%;
      position: relative;
      right: auto; }
    .row .m-4col-pull {
      right: 33.33333%;
      position: relative;
      left: auto; }
    .row .m-5col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 41.66667%;
      float: left;
      position: relative; }
      .row .m-5col .row .m-1col {
        width: 20%; }
      .row .m-5col .row .m-2col,
      .row .m-5col .row .results_item {
        width: 40%; }
      .row .m-5col .row .m-3col {
        width: 60%; }
      .row .m-5col .row .m-4col {
        width: 80%; }
    .row .m-5col-push {
      left: 41.66667%;
      position: relative;
      right: auto; }
    .row .m-5col-pull {
      right: 41.66667%;
      position: relative;
      left: auto; }
    .row .m-6col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 50%;
      float: left;
      position: relative; }
      .row .m-6col .row .m-1col {
        width: 16.66667%; }
      .row .m-6col .row .m-2col,
      .row .m-6col .row .results_item {
        width: 33.33333%; }
      .row .m-6col .row .m-3col {
        width: 50%; }
      .row .m-6col .row .m-4col {
        width: 66.66667%; }
      .row .m-6col .row .m-5col {
        width: 83.33333%; }
    .row .m-6col-push {
      left: 50%;
      position: relative;
      right: auto; }
    .row .m-6col-pull {
      right: 50%;
      position: relative;
      left: auto; }
    .row .m-7col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 58.33333%;
      float: left;
      position: relative; }
      .row .m-7col .row .m-1col {
        width: 14.28571%; }
      .row .m-7col .row .m-2col,
      .row .m-7col .row .results_item {
        width: 28.57143%; }
      .row .m-7col .row .m-3col {
        width: 42.85714%; }
      .row .m-7col .row .m-4col {
        width: 57.14286%; }
      .row .m-7col .row .m-5col {
        width: 71.42857%; }
      .row .m-7col .row .m-6col {
        width: 85.71429%; }
    .row .m-7col-push {
      left: 58.33333%;
      position: relative;
      right: auto; }
    .row .m-7col-pull {
      right: 58.33333%;
      position: relative;
      left: auto; }
    .row .m-8col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 66.66667%;
      float: left;
      position: relative; }
      .row .m-8col .row .m-1col {
        width: 12.5%; }
      .row .m-8col .row .m-2col,
      .row .m-8col .row .results_item {
        width: 25%; }
      .row .m-8col .row .m-3col {
        width: 37.5%; }
      .row .m-8col .row .m-4col {
        width: 50%; }
      .row .m-8col .row .m-5col {
        width: 62.5%; }
      .row .m-8col .row .m-6col {
        width: 75%; }
      .row .m-8col .row .m-7col {
        width: 87.5%; }
    .row .m-8col-push {
      left: 66.66667%;
      position: relative;
      right: auto; }
    .row .m-8col-pull {
      right: 66.66667%;
      position: relative;
      left: auto; }
    .row .m-9col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 75%;
      float: left;
      position: relative; }
      .row .m-9col .row .m-1col {
        width: 11.11111%; }
      .row .m-9col .row .m-2col,
      .row .m-9col .row .results_item {
        width: 22.22222%; }
      .row .m-9col .row .m-3col {
        width: 33.33333%; }
      .row .m-9col .row .m-4col {
        width: 44.44444%; }
      .row .m-9col .row .m-5col {
        width: 55.55556%; }
      .row .m-9col .row .m-6col {
        width: 66.66667%; }
      .row .m-9col .row .m-7col {
        width: 77.77778%; }
      .row .m-9col .row .m-8col {
        width: 88.88889%; }
    .row .m-9col-push {
      left: 75%;
      position: relative;
      right: auto; }
    .row .m-9col-pull {
      right: 75%;
      position: relative;
      left: auto; }
    .row .m-10col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 83.33333%;
      float: left;
      position: relative; }
      .row .m-10col .row .m-1col {
        width: 10%; }
      .row .m-10col .row .m-2col,
      .row .m-10col .row .results_item {
        width: 20%; }
      .row .m-10col .row .m-3col {
        width: 30%; }
      .row .m-10col .row .m-4col {
        width: 40%; }
      .row .m-10col .row .m-5col {
        width: 50%; }
      .row .m-10col .row .m-6col {
        width: 60%; }
      .row .m-10col .row .m-7col {
        width: 70%; }
      .row .m-10col .row .m-8col {
        width: 80%; }
      .row .m-10col .row .m-9col {
        width: 90%; }
    .row .m-10col-push {
      left: 83.33333%;
      position: relative;
      right: auto; }
    .row .m-10col-pull {
      right: 83.33333%;
      position: relative;
      left: auto; }
    .row .m-11col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 91.66667%;
      float: left;
      position: relative; }
      .row .m-11col .row .m-1col {
        width: 9.09091%; }
      .row .m-11col .row .m-2col,
      .row .m-11col .row .results_item {
        width: 18.18182%; }
      .row .m-11col .row .m-3col {
        width: 27.27273%; }
      .row .m-11col .row .m-4col {
        width: 36.36364%; }
      .row .m-11col .row .m-5col {
        width: 45.45455%; }
      .row .m-11col .row .m-6col {
        width: 54.54545%; }
      .row .m-11col .row .m-7col {
        width: 63.63636%; }
      .row .m-11col .row .m-8col {
        width: 72.72727%; }
      .row .m-11col .row .m-9col {
        width: 81.81818%; }
      .row .m-11col .row .m-10col {
        width: 90.90909%; }
    .row .m-11col-push {
      left: 91.66667%;
      position: relative;
      right: auto; }
    .row .m-11col-pull {
      right: 91.66667%;
      position: relative;
      left: auto; }
    .row .m-12col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      float: left;
      position: relative; }
      .row .m-12col .row .m-1col {
        width: 8.33333%; }
      .row .m-12col .row .m-2col,
      .row .m-12col .row .results_item {
        width: 16.66667%; }
      .row .m-12col .row .m-3col {
        width: 25%; }
      .row .m-12col .row .m-4col {
        width: 33.33333%; }
      .row .m-12col .row .m-5col {
        width: 41.66667%; }
      .row .m-12col .row .m-6col {
        width: 50%; }
      .row .m-12col .row .m-7col {
        width: 58.33333%; }
      .row .m-12col .row .m-8col {
        width: 66.66667%; }
      .row .m-12col .row .m-9col {
        width: 75%; }
      .row .m-12col .row .m-10col {
        width: 83.33333%; }
      .row .m-12col .row .m-11col {
        width: 91.66667%; }
    .row .m-12col-push {
      left: 100%;
      position: relative;
      right: auto; }
    .row .m-12col-pull {
      right: 100%;
      position: relative;
      left: auto; }
    .row .m-clearfix {
      margin-left: 0 !important;
      clear: both; }
    .row .m-hide {
      display: none; }
    .row .m-show {
      display: block; }
    .row .m-first {
      margin-left: 0 !important; }
    .row .m-last {
      float: right !important; } }
  @media (min-width: 1240px) {
    .row .l-1col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 8.33333%;
      float: left;
      position: relative; }
      .row .l-1col .row .l-1col {
        width: 100%; }
      .row .l-1col .row .l-0col {
        width: 0%; }
    .row .l-1col-push {
      left: 8.33333%;
      position: relative;
      right: auto; }
    .row .l-1col-pull {
      right: 8.33333%;
      position: relative;
      left: auto; }
    .row .l-2col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 16.66667%;
      float: left;
      position: relative; }
      .row .l-2col .row .l-1col {
        width: 50%; }
    .row .l-2col-push {
      left: 16.66667%;
      position: relative;
      right: auto; }
    .row .l-2col-pull {
      right: 16.66667%;
      position: relative;
      left: auto; }
    .row .l-3col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 25%;
      float: left;
      position: relative; }
      .row .l-3col .row .l-1col {
        width: 33.33333%; }
      .row .l-3col .row .l-2col {
        width: 66.66667%; }
    .row .l-3col-push {
      left: 25%;
      position: relative;
      right: auto; }
    .row .l-3col-pull {
      right: 25%;
      position: relative;
      left: auto; }
    .row .l-4col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 33.33333%;
      float: left;
      position: relative; }
      .row .l-4col .row .l-1col {
        width: 25%; }
      .row .l-4col .row .l-2col {
        width: 50%; }
      .row .l-4col .row .l-3col {
        width: 75%; }
    .row .l-4col-push {
      left: 33.33333%;
      position: relative;
      right: auto; }
    .row .l-4col-pull {
      right: 33.33333%;
      position: relative;
      left: auto; }
    .row .l-5col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 41.66667%;
      float: left;
      position: relative; }
      .row .l-5col .row .l-1col {
        width: 20%; }
      .row .l-5col .row .l-2col {
        width: 40%; }
      .row .l-5col .row .l-3col {
        width: 60%; }
      .row .l-5col .row .l-4col {
        width: 80%; }
    .row .l-5col-push {
      left: 41.66667%;
      position: relative;
      right: auto; }
    .row .l-5col-pull {
      right: 41.66667%;
      position: relative;
      left: auto; }
    .row .l-6col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 50%;
      float: left;
      position: relative; }
      .row .l-6col .row .l-1col {
        width: 16.66667%; }
      .row .l-6col .row .l-2col {
        width: 33.33333%; }
      .row .l-6col .row .l-3col {
        width: 50%; }
      .row .l-6col .row .l-4col {
        width: 66.66667%; }
      .row .l-6col .row .l-5col {
        width: 83.33333%; }
    .row .l-6col-push {
      left: 50%;
      position: relative;
      right: auto; }
    .row .l-6col-pull {
      right: 50%;
      position: relative;
      left: auto; }
    .row .l-7col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 58.33333%;
      float: left;
      position: relative; }
      .row .l-7col .row .l-1col {
        width: 14.28571%; }
      .row .l-7col .row .l-2col {
        width: 28.57143%; }
      .row .l-7col .row .l-3col {
        width: 42.85714%; }
      .row .l-7col .row .l-4col {
        width: 57.14286%; }
      .row .l-7col .row .l-5col {
        width: 71.42857%; }
      .row .l-7col .row .l-6col {
        width: 85.71429%; }
    .row .l-7col-push {
      left: 58.33333%;
      position: relative;
      right: auto; }
    .row .l-7col-pull {
      right: 58.33333%;
      position: relative;
      left: auto; }
    .row .l-8col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 66.66667%;
      float: left;
      position: relative; }
      .row .l-8col .row .l-1col {
        width: 12.5%; }
      .row .l-8col .row .l-2col {
        width: 25%; }
      .row .l-8col .row .l-3col {
        width: 37.5%; }
      .row .l-8col .row .l-4col {
        width: 50%; }
      .row .l-8col .row .l-5col {
        width: 62.5%; }
      .row .l-8col .row .l-6col {
        width: 75%; }
      .row .l-8col .row .l-7col {
        width: 87.5%; }
    .row .l-8col-push {
      left: 66.66667%;
      position: relative;
      right: auto; }
    .row .l-8col-pull {
      right: 66.66667%;
      position: relative;
      left: auto; }
    .row .l-9col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 75%;
      float: left;
      position: relative; }
      .row .l-9col .row .l-1col {
        width: 11.11111%; }
      .row .l-9col .row .l-2col {
        width: 22.22222%; }
      .row .l-9col .row .l-3col {
        width: 33.33333%; }
      .row .l-9col .row .l-4col {
        width: 44.44444%; }
      .row .l-9col .row .l-5col {
        width: 55.55556%; }
      .row .l-9col .row .l-6col {
        width: 66.66667%; }
      .row .l-9col .row .l-7col {
        width: 77.77778%; }
      .row .l-9col .row .l-8col {
        width: 88.88889%; }
    .row .l-9col-push {
      left: 75%;
      position: relative;
      right: auto; }
    .row .l-9col-pull {
      right: 75%;
      position: relative;
      left: auto; }
    .row .l-10col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 83.33333%;
      float: left;
      position: relative; }
      .row .l-10col .row .l-1col {
        width: 10%; }
      .row .l-10col .row .l-2col {
        width: 20%; }
      .row .l-10col .row .l-3col {
        width: 30%; }
      .row .l-10col .row .l-4col {
        width: 40%; }
      .row .l-10col .row .l-5col {
        width: 50%; }
      .row .l-10col .row .l-6col {
        width: 60%; }
      .row .l-10col .row .l-7col {
        width: 70%; }
      .row .l-10col .row .l-8col {
        width: 80%; }
      .row .l-10col .row .l-9col {
        width: 90%; }
    .row .l-10col-push {
      left: 83.33333%;
      position: relative;
      right: auto; }
    .row .l-10col-pull {
      right: 83.33333%;
      position: relative;
      left: auto; }
    .row .l-11col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 91.66667%;
      float: left;
      position: relative; }
      .row .l-11col .row .l-1col {
        width: 9.09091%; }
      .row .l-11col .row .l-2col {
        width: 18.18182%; }
      .row .l-11col .row .l-3col {
        width: 27.27273%; }
      .row .l-11col .row .l-4col {
        width: 36.36364%; }
      .row .l-11col .row .l-5col {
        width: 45.45455%; }
      .row .l-11col .row .l-6col {
        width: 54.54545%; }
      .row .l-11col .row .l-7col {
        width: 63.63636%; }
      .row .l-11col .row .l-8col {
        width: 72.72727%; }
      .row .l-11col .row .l-9col {
        width: 81.81818%; }
      .row .l-11col .row .l-10col {
        width: 90.90909%; }
    .row .l-11col-push {
      left: 91.66667%;
      position: relative;
      right: auto; }
    .row .l-11col-pull {
      right: 91.66667%;
      position: relative;
      left: auto; }
    .row .l-12col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      float: left;
      position: relative; }
      .row .l-12col .row .l-1col {
        width: 8.33333%; }
      .row .l-12col .row .l-2col {
        width: 16.66667%; }
      .row .l-12col .row .l-3col {
        width: 25%; }
      .row .l-12col .row .l-4col {
        width: 33.33333%; }
      .row .l-12col .row .l-5col {
        width: 41.66667%; }
      .row .l-12col .row .l-6col {
        width: 50%; }
      .row .l-12col .row .l-7col {
        width: 58.33333%; }
      .row .l-12col .row .l-8col {
        width: 66.66667%; }
      .row .l-12col .row .l-9col {
        width: 75%; }
      .row .l-12col .row .l-10col {
        width: 83.33333%; }
      .row .l-12col .row .l-11col {
        width: 91.66667%; }
    .row .l-12col-push {
      left: 100%;
      position: relative;
      right: auto; }
    .row .l-12col-pull {
      right: 100%;
      position: relative;
      left: auto; }
    .row .l-clearfix {
      margin-left: 0 !important;
      clear: both; }
    .row .l-hide {
      display: none; }
    .row .l-show {
      display: block; }
    .row .l-first {
      margin-left: 0 !important; }
    .row .l-last {
      float: right !important; } }
  @media (min-width: 1550px) {
    .row .w-1col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 8.33333%;
      float: left;
      position: relative; }
      .row .w-1col .row .w-1col {
        width: 100%; }
      .row .w-1col .row .w-0col {
        width: 0%; }
    .row .w-1col-push {
      left: 8.33333%;
      position: relative;
      right: auto; }
    .row .w-1col-pull {
      right: 8.33333%;
      position: relative;
      left: auto; }
    .row .w-2col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 16.66667%;
      float: left;
      position: relative; }
      .row .w-2col .row .w-1col {
        width: 50%; }
    .row .w-2col-push {
      left: 16.66667%;
      position: relative;
      right: auto; }
    .row .w-2col-pull {
      right: 16.66667%;
      position: relative;
      left: auto; }
    .row .w-3col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 25%;
      float: left;
      position: relative; }
      .row .w-3col .row .w-1col {
        width: 33.33333%; }
      .row .w-3col .row .w-2col {
        width: 66.66667%; }
    .row .w-3col-push {
      left: 25%;
      position: relative;
      right: auto; }
    .row .w-3col-pull {
      right: 25%;
      position: relative;
      left: auto; }
    .row .w-4col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 33.33333%;
      float: left;
      position: relative; }
      .row .w-4col .row .w-1col {
        width: 25%; }
      .row .w-4col .row .w-2col {
        width: 50%; }
      .row .w-4col .row .w-3col {
        width: 75%; }
    .row .w-4col-push {
      left: 33.33333%;
      position: relative;
      right: auto; }
    .row .w-4col-pull {
      right: 33.33333%;
      position: relative;
      left: auto; }
    .row .w-5col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 41.66667%;
      float: left;
      position: relative; }
      .row .w-5col .row .w-1col {
        width: 20%; }
      .row .w-5col .row .w-2col {
        width: 40%; }
      .row .w-5col .row .w-3col {
        width: 60%; }
      .row .w-5col .row .w-4col {
        width: 80%; }
    .row .w-5col-push {
      left: 41.66667%;
      position: relative;
      right: auto; }
    .row .w-5col-pull {
      right: 41.66667%;
      position: relative;
      left: auto; }
    .row .w-6col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 50%;
      float: left;
      position: relative; }
      .row .w-6col .row .w-1col {
        width: 16.66667%; }
      .row .w-6col .row .w-2col {
        width: 33.33333%; }
      .row .w-6col .row .w-3col {
        width: 50%; }
      .row .w-6col .row .w-4col {
        width: 66.66667%; }
      .row .w-6col .row .w-5col {
        width: 83.33333%; }
    .row .w-6col-push {
      left: 50%;
      position: relative;
      right: auto; }
    .row .w-6col-pull {
      right: 50%;
      position: relative;
      left: auto; }
    .row .w-7col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 58.33333%;
      float: left;
      position: relative; }
      .row .w-7col .row .w-1col {
        width: 14.28571%; }
      .row .w-7col .row .w-2col {
        width: 28.57143%; }
      .row .w-7col .row .w-3col {
        width: 42.85714%; }
      .row .w-7col .row .w-4col {
        width: 57.14286%; }
      .row .w-7col .row .w-5col {
        width: 71.42857%; }
      .row .w-7col .row .w-6col {
        width: 85.71429%; }
    .row .w-7col-push {
      left: 58.33333%;
      position: relative;
      right: auto; }
    .row .w-7col-pull {
      right: 58.33333%;
      position: relative;
      left: auto; }
    .row .w-8col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 66.66667%;
      float: left;
      position: relative; }
      .row .w-8col .row .w-1col {
        width: 12.5%; }
      .row .w-8col .row .w-2col {
        width: 25%; }
      .row .w-8col .row .w-3col {
        width: 37.5%; }
      .row .w-8col .row .w-4col {
        width: 50%; }
      .row .w-8col .row .w-5col {
        width: 62.5%; }
      .row .w-8col .row .w-6col {
        width: 75%; }
      .row .w-8col .row .w-7col {
        width: 87.5%; }
    .row .w-8col-push {
      left: 66.66667%;
      position: relative;
      right: auto; }
    .row .w-8col-pull {
      right: 66.66667%;
      position: relative;
      left: auto; }
    .row .w-9col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 75%;
      float: left;
      position: relative; }
      .row .w-9col .row .w-1col {
        width: 11.11111%; }
      .row .w-9col .row .w-2col {
        width: 22.22222%; }
      .row .w-9col .row .w-3col {
        width: 33.33333%; }
      .row .w-9col .row .w-4col {
        width: 44.44444%; }
      .row .w-9col .row .w-5col {
        width: 55.55556%; }
      .row .w-9col .row .w-6col {
        width: 66.66667%; }
      .row .w-9col .row .w-7col {
        width: 77.77778%; }
      .row .w-9col .row .w-8col {
        width: 88.88889%; }
    .row .w-9col-push {
      left: 75%;
      position: relative;
      right: auto; }
    .row .w-9col-pull {
      right: 75%;
      position: relative;
      left: auto; }
    .row .w-10col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 83.33333%;
      float: left;
      position: relative; }
      .row .w-10col .row .w-1col {
        width: 10%; }
      .row .w-10col .row .w-2col {
        width: 20%; }
      .row .w-10col .row .w-3col {
        width: 30%; }
      .row .w-10col .row .w-4col {
        width: 40%; }
      .row .w-10col .row .w-5col {
        width: 50%; }
      .row .w-10col .row .w-6col {
        width: 60%; }
      .row .w-10col .row .w-7col {
        width: 70%; }
      .row .w-10col .row .w-8col {
        width: 80%; }
      .row .w-10col .row .w-9col {
        width: 90%; }
    .row .w-10col-push {
      left: 83.33333%;
      position: relative;
      right: auto; }
    .row .w-10col-pull {
      right: 83.33333%;
      position: relative;
      left: auto; }
    .row .w-11col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 91.66667%;
      float: left;
      position: relative; }
      .row .w-11col .row .w-1col {
        width: 9.09091%; }
      .row .w-11col .row .w-2col {
        width: 18.18182%; }
      .row .w-11col .row .w-3col {
        width: 27.27273%; }
      .row .w-11col .row .w-4col {
        width: 36.36364%; }
      .row .w-11col .row .w-5col {
        width: 45.45455%; }
      .row .w-11col .row .w-6col {
        width: 54.54545%; }
      .row .w-11col .row .w-7col {
        width: 63.63636%; }
      .row .w-11col .row .w-8col {
        width: 72.72727%; }
      .row .w-11col .row .w-9col {
        width: 81.81818%; }
      .row .w-11col .row .w-10col {
        width: 90.90909%; }
    .row .w-11col-push {
      left: 91.66667%;
      position: relative;
      right: auto; }
    .row .w-11col-pull {
      right: 91.66667%;
      position: relative;
      left: auto; }
    .row .w-12col {
      /* Acceptable values are border, content, and padding - content is the default W3C model */
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      float: left;
      position: relative; }
      .row .w-12col .row .w-1col {
        width: 8.33333%; }
      .row .w-12col .row .w-2col {
        width: 16.66667%; }
      .row .w-12col .row .w-3col {
        width: 25%; }
      .row .w-12col .row .w-4col {
        width: 33.33333%; }
      .row .w-12col .row .w-5col {
        width: 41.66667%; }
      .row .w-12col .row .w-6col {
        width: 50%; }
      .row .w-12col .row .w-7col {
        width: 58.33333%; }
      .row .w-12col .row .w-8col {
        width: 66.66667%; }
      .row .w-12col .row .w-9col {
        width: 75%; }
      .row .w-12col .row .w-10col {
        width: 83.33333%; }
      .row .w-12col .row .w-11col {
        width: 91.66667%; }
    .row .w-12col-push {
      left: 100%;
      position: relative;
      right: auto; }
    .row .w-12col-pull {
      right: 100%;
      position: relative;
      left: auto; }
    .row .w-clearfix {
      margin-left: 0 !important;
      clear: both; }
    .row .w-hide {
      display: none; }
    .row .w-show {
      display: block; }
    .row .w-first {
      margin-left: 0 !important; }
    .row .w-last {
      float: right !important; } }