/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */



.bx-next,
.bx-prev {
	@include type-setting(1);
	font-weight: $bold;
	margin-left: 5px;
}


/* BUG FIX FOR CLONE SLIDE FIRST */

.bx-wrapper img {
    max-width: 100%;
    display: inline-block;
}

.bx-viewport li { 
    min-height: 1px; 
    min-width: 1px; 
}







/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }

    display: none;

    &.dragging img {
        pointer-events: none;
    }

    .slick-initialized & {
        display: block;
    }
 
    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-arrow.slick-hidden {
    display: none;
}



// SLIDE COLLECTION

.slider_outer {
    margin: 40px 0 0;
    opacity: 0;
    transition: opacity .6s;
}

.collections_slider--img {

    .slick-list {
        overflow: visible;
    }

    img {
        transition: transform .4s;
    }

    .slick-current {
        img { 
            transform: scale(1.2);
        } 
    }

    @include at-least(medium) {
        img {
            height: 400px;
        }
    }

    @include up-to(medium) {
        img {
            max-width: 80vw;
            max-height: 350px;
        }
        .slick-track {
            display: flex;
            align-items: center;
        }
    }


}
 
.collections_slider--caption {
    width: 500px;
    margin: 60px auto 0;
    position: relative;
    text-align: center;
    color: #999999;

    .slick-arrow {
        position: absolute;
        background: none;
        border: none;
        width: 30px;
        height: 30px;
        background-repeat: no-repeat;
        background-size: contain;
        top: 0;
    }

    .slick-prev {
        left: -100px;
        background-image: url('/sites/all/themes/fgl/assets/icons/arrow-left.png');
    }
    .slick-next {
        right: -100px;
        background-image: url('/sites/all/themes/fgl/assets/icons/arrow-right.png');
    }


    @include up-to(medium) {
        width: 70%;

        .slick-prev {
            left: -16%
        }
        .slick-next {
            right: -16%
        }

    }



}




/*
 * TINY SLIDERS CSS
 */
.tns-outer{padding:0 !important}.tns-outer [hidden]{display:none !important}.tns-outer [aria-controls],.tns-outer [data-action]{cursor:pointer}.tns-slider{-webkit-transition:all 0s;-moz-transition:all 0s;transition:all 0s}.tns-slider>.tns-item{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.tns-horizontal.tns-subpixel{white-space:nowrap}.tns-horizontal.tns-subpixel>.tns-item{display:inline-block;vertical-align:top;white-space:normal}.tns-horizontal.tns-no-subpixel:after{content:'';display:table;clear:both}.tns-horizontal.tns-no-subpixel>.tns-item{float:left}.tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item{margin-right:-100%}.tns-no-calc{position:relative;left:0}.tns-gallery{position:relative;left:0;min-height:1px}.tns-gallery>.tns-item{position:absolute;left:-100%;-webkit-transition:transform 0s, opacity 0s;-moz-transition:transform 0s, opacity 0s;transition:transform 0s, opacity 0s}.tns-gallery>.tns-slide-active{position:relative;left:auto !important}.tns-gallery>.tns-moving{-webkit-transition:all 0.25s;-moz-transition:all 0.25s;transition:all 0.25s}.tns-autowidth{display:inline-block}.tns-lazy-img{-webkit-transition:opacity 0.6s;-moz-transition:opacity 0.6s;transition:opacity 0.6s;opacity:0.6}.tns-lazy-img.tns-complete{opacity:1}.tns-ah{-webkit-transition:height 0s;-moz-transition:height 0s;transition:height 0s}.tns-visually-hidden{position:absolute;left:-10000em}.tns-transparent{opacity:0;visibility:hidden}.tns-fadeIn{opacity:1;filter:alpha(opacity=100);z-index:0}.tns-normal,.tns-fadeOut{opacity:0;filter:alpha(opacity=0);z-index:-1}.tns-vpfix{white-space:nowrap}.tns-vpfix>div,.tns-vpfix>li{display:inline-block}.tns-t-subp2{margin:0 auto;width:310px;position:relative;height:10px;overflow:hidden}.tns-t-ct{width:2333.3333333%;width:-webkit-calc(100% * 70 / 3);width:-moz-calc(100% * 70 / 3);width:calc(100% * 70 / 3);position:absolute;right:0}.tns-t-ct:after{content:'';display:table;clear:both}.tns-t-ct>div{width:1.4285714%;width:-webkit-calc(100% / 70);width:-moz-calc(100% / 70);width:calc(100% / 70);height:10px;float:left}



// TNS CONTROLS & NAVS

.tns-controls {
    right: 0;

    button {
        width: 15px;
        height: 25px;
        border: none;
        background: none;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 999;
        bottom: -60px;
        position: absolute;
    }
    button[data-controls="prev"] {
        left: 0;
        background-image: url("/icons/arrow-left.png");
    }
    button[data-controls="next"] {
        right: 0;
        background-image: url("/icons/arrow-right.png");
    }
    button[disabled] {
        opacity: 0.1;
        cursor: auto;
    }
}


.tns-nav {
    position: absolute;
    bottom: -50px;
    background-color: #F0ECEC;
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    
    button {
        width: auto;
        height: 3px;
        border: none;
        background: none;
        flex: 1;
        transition: all 1s;
      }
      
    button.tns-nav-active {
        background-color: black;
    }
}




// TNS SLIDE TYPES

.slide_wrapper {
    position: relative;

    @include up-to(large) {
        position: relative;
    }
}

.slide_wrapper--artworks {
    @extend .slide_wrapper;

    @include up-to(large) {
        left: 0;
    }
}
    .slide_medium--artworks {

        img {
            width: auto;
        }
        @include at-least(medium) {
            img {
                height: 500px;
            }     
        }
        @include up-to(medium) {
            img {
                height: 300px;
            }     
        }

        p {
            max-width: 350px; 
        }    
    }




    
  
    .slide_large {
        position: relative;
    }
  

    .mod_aside:before {
        content: '';
        position: absolute;
        background-color: white;
        z-index: 999;
        top: 0;
        bottom: 0;
        left: -5002px;
        width: 5000px;
    }
    .bg--gray .mod_aside:before {
        background-color: #f0ecec;
    
    }
    
    .mod_title {
        position: relative;
        z-index: 9999;
    }
    
    .separator {
        position: relative;
        z-index: 0;
    }