/* 
 * Set up general & particulars modules : headers, contents, footers
 * 
 * @package FEGL
 *
 */



@import "header";
@import "footer";
@import "modals";
@import "gallery";


.widget_map {
	height: 650px; 
	width: 100%;

	@include up-to(medium) {
		height: 400px;
		margin-bottom: $base_line_height;
	}
}





.widget_rebond .link_rebond_ios,
.widget_rebond .link_rebond_android,
.bloc_apps .link_rebond_android, 
.bloc_apps .link_rebond_ios { 
	display:block;
	background-position: center;
	height:56px;
	background-size: contain;
	margin-bottom:10px;
	background-repeat: no-repeat;
}

.widget_rebond a.link_rebond_android,
.bloc_apps a.link_rebond_android{
	@include up-to(medium) {
		height: 100px;
	}

	@include at-least(medium) {
		background-size: 98%;
	}
}
.widget_rebond a.link_rebond_ios,
.bloc_apps a.link_rebond_ios{
	@include up-to(medium) {
		height: 107px;
	}

	@include at-least(medium) {
		background-size: 98%;
	}
}


.widget_rebond hr {margin-top: 28px;}


.bloc_apps a {
	float: left;
	width: 150px;
	margin-right: 15px;
	margin-top: -10px;
	
	&:hover {
		border: none !important;
		text-decoration: none !important;
	}

	@include up-to(medium) {
    width: 200px;
    margin: auto;
    display: block;
    float: none;
    background-position: top;
    height: 75px !important;
	}
}



/*
 * EVENT MODULES 2022
 */



	.page_cover {
		@extend %mb-5;
	}


 // Module pour contenu events (max height)
	.mod-copy {
		max-height: 400px;
		overflow: hidden;
		transition: max-height .6s;

		&.mod-copy--festival {
			max-height: 500px;
		}

		.c-copy {
			padding-bottom: 55px;
		}

		&.open {
			max-height: 3000px;
		}

		.mod-copy-openings {
			@extend %mb-9;
		}

		@include up-to(large) {
			max-height: 600px;

			.row {
				display: flex;
				flex-direction: column;
			}
		}

	}

	.mod-copy--festival {
		.c-opening-group {
			@include up-to(medium) {
				border-top: none;
			}
		}
	}




// Module pour les section de sliders artistes
	.mod_slider--artworks {
		@extend .mod_slider;
		
		.mod_aside {
			@include up-to(large) {
				margin-top: 20px;
				padding-top: 10px;
				border-top: 1px solid $gray_light;
			}
		}
	}



// Video player full

	.mod-playerfull {
		@extend %mb-9;
		transition: all .4s;
		//height: 32vh;
		width: 50vw;
		margin-left: auto;
		margin-right: auto;

		@include up-to(medium) {
			background-color: $black;
			height: 100vh;
			width: 102vw;
			position: relative;
			left: -1px;
		}

		.ratio_16_9 {
			max-height: 100%;

			@include up-to(medium) {
				width: 100%;
				height: 100%;
				&:after {
					padding-bottom: 0;
					position: relative;
				}
			}
		}

		img, iframe {
			width: 100%;
			height: 100%;
			display: block;
		}

		&.open {
			width: 100vw;
			height: 100vh;
		}

	}



	.mod_titles {
		@extend %mb-3;
	}




// SEPARATORS
	.m_separators {
		@extend %mb-9;
	}



// Image en mosaic

.mod_mosaic {

    @extend %mb-9;


	figure {
		@extend %mb-7;
	}
	
	img {
		width: 100%;
		margin-bottom: 10px;
	}
	
	.m-4col {
		&:first-child {
			padding-right: 20px;
		}
		&:nth-child(2) {
			padding-left: 20px;
			padding-right: 20px;
		}
		&:last-child {
			padding-left: 20px;
		}
	}
}

.mod_mosaic-grid[data-columns]::before {
	display: none;

	@include at-least(medium) {
		content: '2 .m-6col';
	}
	@include at-least(large) {
		content: '3 .m-4col';
	}
}




.mod_more {
	box-shadow: 0 -20px 20px #F0ECEC;
}




// VISITE CARDS LIST
.mod_pages_list {
    @extend %mb-9;

	.row {
		@include up-to(medium) {
			display: flex;
			flex-direction: column;
		}
	}
	.flex-s-2 {
        order: 2
    }
}




// Events Navigation
	.mod_navigation {
		@extend %mb-9;

		.mod_upper {
			display: flex;
			@extend %mb-3;

			@include up-to(medium) {
				flex-direction: column;
			}
		}

		.c-navItem {
			justify-content: space-between;

			@include at-least(medium) {
				width: 50%;
			}

		}

		[class *= "icon-lien_interne"] {
			display: inline-block;
			padding: 3px 10px;
			font-size: 2rem;
		}
		.c-navItem:last-child {
			justify-content: flex-end;
			@include up-to(medium) {
				align-self: flex-end;
			}
		}
		.c-navItem:first-child {
			justify-content: flex-start;
			@include up-to(medium) {
				margin-bottom: 70px;
			}
		}
	}




// MAnifestations

.mod_event_head {
	.mod_id {
		@extend %mb-9;
	}
}




// Module de CONTENU SIMPLE

.mod_content {
	@extend %mb-9;

	.mod_title {
		@extend %mb-8;

		h2 {
			@extend %mb-6;
		}
	}

	.mod_aside {
		@include at-least(medium) {
			padding-bottom: 90px;
		}
		

		& > :last-child {
			margin-bottom: 0;
			padding-bottom: 0;
		}
	}

	.separator {
		height: 90px;
	}

	& + & {
		@include up-to(medium) {
			margin-top: 0;
		}
		@include at-least(medium) {
			margin-top: -110px
		}
		
	}
	
}




// Module de Slider

.mod_slider {
	@extend %mb-9;
	
	@include up-to(medium) {
		overflow: hidden;
	}

	.mod_title {
		@extend %mb-3;
		
		@include at-least(medium) {
			padding-top: 40px;
		}
		@include up-to(medium) {
			margin-bottom: 10px;
		}
		
	}
	.mod_aside {
		@include at-least(medium) {
			padding-top: 40px;
			padding-bottom: 75px;
		}
		@include up-to(medium) {
			padding-top: 0;
			padding-bottom: 25px;
		}
	}

	&:last-child {
		@extend %mb-9;
	}

	& + & {
		@include at-least(medium) {
			margin-top: -110px;
		}
	}

	&.bg--gray {
		.mod_title {
			@include up-to(medium) {
				padding-top: 30px;
			}
		}
	}

	.c-card-2 {
		@include up-to(medium) {
			border-bottom: 1px solid $gray_light;
			padding-bottom: 20px;
		}

		.c-card-media {
			max-width: none;
		}
	}
}


.mod_carnetprod {
	@extend %mb-9;

	.mod_inner {
		padding: 50px 0;
		min-height: 200px;
		background-color: $gray_light;
		box-shadow: inset 0 -10px 10px $gray_medium;
	}
}




.m-howtocome {
	margin-bottom: 45px;
}


.mod_nocover {
	height: 200px;
}