/* 
 * Set up general & particulars modules : headers, contents, footers
 * 
 * @package FEGL
 *
 */



@import "header";
@import "footer";
@import "modals";
@import "gallery";


.widget_map {
	height: 650px; 
	width: 100%;

	@include up-to(medium) {
		height: 400px;
		margin-bottom: $base_line_height;
	}
}





.widget_rebond .link_rebond_ios,
.widget_rebond .link_rebond_android,
.bloc_apps .link_rebond_android, 
.bloc_apps .link_rebond_ios { 
	display:block;
	background-position: center;
	height:56px;
	background-size: contain;
	margin-bottom:10px;
	background-repeat: no-repeat;
}

.widget_rebond a.link_rebond_android,
.bloc_apps a.link_rebond_android{
	@include up-to(medium) {
		height: 100px;
	}

	@include at-least(medium) {
		background-size: 98%;
	}
}
.widget_rebond a.link_rebond_ios,
.bloc_apps a.link_rebond_ios{
	@include up-to(medium) {
		height: 107px;
	}

	@include at-least(medium) {
		background-size: 98%;
	}
}


.widget_rebond hr {margin-top: 28px;}


.bloc_apps a {
	float: left;
	width: 150px;
	margin-right: 15px;
	margin-top: -10px;
	
	&:hover {
		border: none !important;
		text-decoration: none !important;
	}

	@include up-to(medium) {
    width: 200px;
    margin: auto;
    display: block;
    float: none;
    background-position: top;
    height: 75px !important;
	}
}



/*
 * EVENT MODULES 2022
 */

 // Module pour contenu events (max height)
	.mod-copy {
		max-height: 400px;
		overflow: hidden;
		
		& + section {
			box-shadow: 0 -20px 20px $gray_light;
		}

		&.open {
			max-height: 3000px;
		}

		@include up-to(large) {
			max-height: 600px;

			.row {
				display: flex;
				flex-direction: column;
			}
			.mod-copy-txt {
				order: 2;
			}
			.mod-copy-openings {
				margin-bottom: $marge-9;
			}
		}
	}



	
// Module pour les section de sliders artistes
	.mob-artistArtworks {
		.section_content {
			@include up-to(large) {
				margin-top: 20px;
				padding-top: 10px;
				border-top: 1px solid $gray_light;
			}
		}
	}





// Sticky CSS
	.mod-sticky {
		position: sticky;
		top: 200px;
	}




// Events Navigation
	.mod-navigation {
		display: flex;

		.c-navItem {
			width: 50%;
			justify-content: space-between;
		}

		[class *= "icon-lien_interne"] {
			display: inline-block;
			padding: 3px 10px;
			font-size: 2rem;
		}
		.c-navItem:last-child {
			justify-content: flex-end;
		}
		.c-navItem:first-child {
			justify-content: flex-start;
		}
	}