/* 
 * Modals
 * 
 * @package fegl
 */


.modal {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0, .9);
	z-index: 999999;
	justify-content:center;
	align-items:center;
	width:100%;
	height:100%;
	overflow-y: scroll;

		&.open {
			display: flex;
		}	

	.inner {
		position: relative;
		padding-top: 4em;
		padding-bottom: 4em;
		background-color: $white;
	}
		.close {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		label {

		}
		input[type="text"],
		input[type="email"], {
			border: 1px solid $black;
			padding: .5em;
			width: 100%;
		}
		textarea {
			border: 1px solid $black;
			padding: .5em;
			width: 100%;
			resize: none;
		}
		.action {
			margin-top: -40px;
			z-index: 999;
			position: relative;
			justify-content: flex-end;
			align-items: flex-end;

			.btn {
				margin-left: 20px;
			}
		}
		.msg_error {
			color: $color_quaternary;
		}
		.msg_valid {

		}

	@include at-least(medium) {
		.input-outer {
			width: 49%;
			
			&:nth-child(even) {
				float: right;
			}
			&:nth-child(odd) {
				clear: both;
				float: left;
			}
		}
	}
	@include up-to(medium) {

		&.open {
			display: block;
		}		
	
		.inner {
			margin: 1em auto;
			padding: 2em 1em;
		}
		.action {
			margin-top: 0;

			.btn {
				margin-left: 20px;
			}
		}
	}
}

.modal_share_bymail {

	@extend .modal;



}
