/* 
 * Lists
 * 
 * @package lavantseine-v2
 */


hr {
	background-color: $gray_light;
	border: 0;
	height: 1px;
	margin-bottom: $base_line_height;
}
	.gray {
		background-color: $gray_light;
	}

	
ul, ol {
	margin: 0px 0px 0.5em 0em;
}
ul {
	list-style: disc;
}
li {
  list-style-position: outside;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
figure {
	margin: 0;
}

.no-bullets {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		
	}
}