/*
 * CSS FOR NEW FEGL... TO BE CLEANED
 *
 */




  
  .hidden {
    opacity: 0;
    display: block;
  }




/*
 * CARDS 
 * TODO: CLEAN & REMOVE
 */



  .player {
    margin: auto;
  }

  
  
  
  

  
  