/* 
 * Links
 * 
 * @package fegl
 */



a {
  @include transition(all, 0.2s);
  color: inherit;
  text-decoration: none;

  footer &,
  p &,
  .copy &,
  .description & {

		.no-touch &:hover,
		&:active {
			text-decoration: none !important;
			border-bottom: 2px solid $color_primary;
		}
  }
  p &,
  .copy & {
  	font-weight: $bold;
  }
}

a:focus,
a:active {

}

.link-inline {
		.no-touch &:hover,
		&:active {
			text-decoration: none !important;
			border-bottom: 2px solid $color_primary;
		}
}

.open ~ .page-content a {
  pointer-events: none;
  cursor: default;
}



.btn {
	display: inline-block;
	text-align: center;
	background-color: $black;
	padding: 0.8em 1.2em;
	border: none;
	color: white;
	@include transition(all 0.5s);

	.no-touch &:hover {
		background-color: $color_primary;
		color: $black;
	}

	&.full {
		width: 100%;
	}
}

.btn--gray {
	@extend .btn;
	background-color: $gray_light;
	color: $black;
	font-weight: $bold;
}

.btn--map {
	@extend .btn;
	background-color: $gray_light;
	color: $black;
	font-weight: $bold;
	text-align: left;
	padding-left: .6em;
	width: 170px;
	clear: both;
	float: left;

	& > span {
		display: inline-block;
		text-align: center;
		width: 30px;
		margin-right: 10px;
	}
}

.btn--inline {
	font-weight: $bold;
}



// ANIMATIONS

.pulse_link {
	position: relative;
	display: inline-block;
}
.el {
	word-break: keep-all;
	word-wrap: normal;
}
.no-touch .pulse_link:hover .el {
	display: inline-block;
		animation-name: pulse;
    animation-duration: 1s ;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.no-touch .pulse_link--left:hover .el {
	display: inline-block;
		animation-name: pulse-left;
    animation-duration: 1s ;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.pulse_link:active {
	.el {
    transform: translate(5px, 0);
	}
}
.pulse_link--left:active {
	.el {
    transform: translate(-5px, 0);
	}
}
@keyframes pulse {
  0%  {
		transform: scale(1);
    transform: translate(0, 0);
  }
	50%  {
    transform: translate(5px, 0);
  }
	100%  {
    transform: scale(0);
  }
}
@keyframes pulse-left {
  0%  {
		transform: scale(1);
    transform: translate(0, 0);
  }
	50%  {
    transform: translate(-5px, 0);
  }
	100%  {
    transform: scale(0);
  }
}

