/*
 * Typography
 *
 * @package fegl
 */





// Base Sizes
// ==========

$base_font_size               : 16px !default;

$base_line_half               : 20px;
$base_line_height             : 28px !default;


$type-scale: (
  -4: 1.2rem, // 
  -3: 1.3rem, // 
  -2: 1.4rem, // 
  -1: 1.5rem, //
  0: 1.6rem, //
  1: 1.8rem, //
  2: 2rem, //
  3: 2.4rem,
  4: 3.2rem,
  5: 4.8rem,
  6: 5rem,
  7: 8rem,
  8: 12rem,
  9: 16rem,
  10: 24rem
);

$line-heights: (
  -3: 1, 
  -2: 1, 
  -1: 1,
  0: $base_line_half,
  1: $base_line_height,
  2: 1,
  3: 1,
  4: 1,
  5: 60px,
  6: 1,
  7: 70px,
  8: 1,
  9: 100px,
  10: 60px
);


@function type-scale($level) {
  @return map-get($type-scale, $level);
}

@function line-height($level) {
  @return map-get($line-heights, $level);
}

@mixin type-setting($level: 0) {
  font-size: type-scale($level);
  //line-height: line-height($level);
}

@mixin fontsize($size: $base_font_size) {
  font-size: #{$size}px;
  font-size: ( get_rem($size) )rem;
}



%margined:not(.is-flex, .m-hide, .s-hide) {
  display: block;
}
.mb-02  {
  @extend %margined;
  margin-bottom: $base_line_height / 4;
}
.mb-03  {
  @extend %margined;
  margin-bottom: $base_line_height / 3;
}
.mb-05  {
  @extend %margined;
  margin-bottom: $base_line_height / 2;
}
.mb-1  {
  @extend %margined;
  margin-bottom: $base_line_height;
}
.mb-15  {
  @extend %margined;
  margin-bottom: $base_line_height * 1.5;
}
.mb-2  {
  @extend %margined;
  margin-bottom: $base_line_height * 2;
}
.mb-3  {
  @extend %margined;
  margin-bottom: $base_line_height * 3;
}

.pb-01 {
  padding-bottom: $base_line_height;
}
.pb-02 {
  padding-bottom: $base_line_height * 2;

  @include up-to(medium) {
    padding-bottom: $base_line_height;

    .pb-03 {
      padding-bottom: 0;
    }
  }
}
.pb-03 {
  padding-bottom: $base_line_height * 3;

  @include up-to(medium) {
    padding-bottom: $base_line_height * 2;

    &.pinned {
      padding-bottom: $base_line_height ;
    }
    & > [class^="mb-"], & > [class*="mb-"], {
      margin-bottom: $base_line_height / 2;
    }
    & > [class^="pb-"], & > [class*="pb-"] {
      padding-bottom: $base_line_height / 2;
    }
  }
}
.pb-04 {
  padding-bottom: $base_line_height * 4;

  @include up-to(medium) {
    padding-bottom: $base_line_height * 2;

    & > .pb-03 {
      padding-bottom: 0;
    }
  }
}

.m-pb-01 {
  @include at-least(medium) {
    padding-bottom: $base_line_height;
  }
}

.hyphenate {
  @include word-wrap;
}


/*
 * TYPOGRAPHY VARIABLES SETTINGS
 */

// Google Font Families
$AnticipationsSans                : 'AnticipationsSans';
$Apercu                           : 'Apercu';
$ApercuMono                       : 'ApercuMono';

// Default Fonts
$font_family_sans               : Arial, Helvetica, sans-serif !default;
$font_family_serif              : Georgia, Times New Roman, serif !default;
$font_family_mono               : Menlo, Consolas, monospace !default;

// Typo Attributions
$font_family_paragraph          : $Apercu, $font_family_sans;
$font_family_title              : $Apercu, $font_family_sans;
$font_family_meta               : $ApercuMono, $font_family_sans;
$font_family_nav                : $Apercu, $font_family_sans;
$font_family_alt                : $Apercu, $font_family_sans;
$font_family_quote              : $Apercu, $font_family_sans;
$font_family_btn                : $Apercu, $font_family_sans;

// Set weights
$bold               : 900;
$regular            : 400;
$light              : 100;


/*
 * Imports typo parts
 */
@import "copy";
@import "heading";
@import "fonts";

/*
 * FOR RESPONSIVE FONT SIZE. 
 * Adjust as you need.
 */

body {
  font-family: $font_family_paragraph;
  @include type-setting(0);
}

html {
  @include up-to(medium) {
    font-size: 57.5%;
  }
  @include at-least(medium) {
    font-size: 50%;
  }
  @include at-least(large) {
    font-size: 55%;
  }
  @include at-least(wide) {
    font-size: 62%;
  }
}



.copy {
    line-height: 1.7;
}

